
html * {
    font-family: "Jetbrains Mono";
    /* background-color: #101010 !important; */
}

#app {
    h1 {
        margin-top: 0px;
    }
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --accent-color: #32858b;
    --background-color: #101010; 

    /* Found a neat website offering geometric CSS pattern backgrounds! */
    --s: 200px;
    --c1: #191919;
    --c2: #272526;
    --c3: #000000;

    --_g: 0 120deg,#0000 0;
    background:
        conic-gradient(             at calc(250%/3) calc(100%/3),var(--c3) var(--_g)),
        conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--c2) var(--_g)),
        conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--c1) var(--_g)),
        conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--c1) var(--_g)),
        conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
        conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
        conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*sqrt(3)) var(--s);
}


.header {
    h1 { font-size: 35px; }
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    padding: 0 auto;

    button {
        color: white;
        border-radius: 0px;
        border: 1px solid var(--accent-color);
        font-size: 20px;
        height: 50px;
        width: fit-content;
        background-color: var(--background-color) !important;
    }
}


.dropdown {
    button .btn-secondary .dropdown-toggle
    .dropdown-menu {
        border: 1px solid var(--accent-color);
        border-radius: 0px;
        background-color: var(--background-color) !important;
    }
    
    a.dropdown-item {
        color: white;
        font-size: 18px;
        background-color: var(--background-color) !important;
    }

    a.dropdown-item:hover {
        background-color: #363636 !important;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .accordion {
        border: 1px solid white;
        color: white;
        h2.accordion-header button {
            margin-top: 0px;
            color: var(--accent-color);
        }

        * {
            background-color: var(--background-color);
            margin-top: 0px;
            border-radius: 0px;
        }
    }

    .accordion-item {
        color: white;
    }

    .accordion-body {
        color: white;
    }

    .main-item {
        background-color: var(--background-color);
        padding: 1rem;
        height: fit-content;
        width: 600px;
        text-wrap: wrap;
        box-shadow: rgba(0, 0, 0, 0.9) 0px 19px 38px, rgba(0, 0, 0, 0.6) 0px 15px 12px;
        /* box-shadow: rgba(50, 133, 139, 0.4) -5px 5px, rgba(50, 133, 139, 0.3) -10px 10px, rgba(50, 133, 139, 0.2) -15px 15px, rgba(50, 133, 139, 0.1) -20px 20px, rgba(50, 133, 139, 0.05) -25px 25px; */

        p {
            font-size: 20px;
        }
    }
}

.image-box {
    width: 100%;
    justify-content: center;
    background-color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form * {
    text-wrap: nowrap;

    .required {
        color: red;
    }

    input { 
        width: 300px;
    }

}
