:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 0px;
    top: 10px;
    .navbar-item {
        background-color: #626262;
        padding: 0px 5px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
    }
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #444444;
    gap: 10px;
    padding: 15px;

    .main-item {
        padding: 15px;
        background-color: #626262;
        border-radius: 25px;
        height: fit-content;
        p {
            font-size: 20px;
        };
    }
}

.contact-footer {
    position: relative;
    margin-top: 5px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: center;
    gap: 25px;
    .contact-item {
        padding: 5px;
        background-color: #626262;
    }
}
